

@model IEnumerable<SOF301.Models.OrderItems>







<h2>Order Items</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Foods.Name)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.FoodNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Foods.Name)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.FoodNumber)
            </td>
          
        </tr>
    }

</table>
<p>
  
    @Html.ActionLink("Back to List", "Index")
</p>
