@model SOF301.Models.OrderItems

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderItems</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Foods.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foods.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orders.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orders.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
