@model IEnumerable<SOF301.Models.Foods>

@{
    ViewBag.Title = "FoodIndex";
}

<h2>Foods</h2>

<p>
    @Html.ActionLink("Create Food", "FoodCreate")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodStatu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
     
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @{
    if ((bool)item.FoodStatu)
    {
        <p>Available</p>
    }
    else
    {
        <p> Unavailable</p>
    }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "FoodEdit", new { id=item.FoodID }) |
            @Html.ActionLink("Delete", "FoodDelete","RestaurantOwner", new { id=item.FoodID },null)
        </td>
    </tr>
}

</table>
