@model IEnumerable<SOF301.Models.Orders>
@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Users.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Users.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @if (!(bool)item.PaymentType)
                {
                    <p>Credit Card</p>
                }
                else
                {
                    <p>Cash</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>

                @Html.ActionLink("OrderItems", "OrderDetails", new { id = item.OrderID }) |
                @Html.ActionLink("Accept", "AcceptOrder", "RestaurantOwner", new { id = item.OrderID }, null) |
                @Html.ActionLink("Cancel", "CancelOrder", "RestaurantOwner", new { id = item.OrderID }, null) 

            </td>
        </tr>
    }

</table>


