<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sack Of Food</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sack Of Food", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                      @if (User.Identity.IsAuthenticated)
                          {
                    
                        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

                        if (claimsIdentity != null)
                        {
                            var c = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Role);


                            if (c.Value.Equals("3")) { 
                                
                          
                        
                    <li>@Html.ActionLink("Home", "", "")</li>
                    <li>@Html.ActionLink("My Orders", "Index", "Orders")</li>
                    <li>@Html.ActionLink("Profile", "Details", "Users")</li>
                    }

                            if (c.Value.Equals("2")) { 
                    
                    <li>@Html.ActionLink("Orders", "", "")</li>
                    <li>@Html.ActionLink("My Restaurant", "", "")</li>
                    <li>@Html.ActionLink("Foods", "", "")</li>
                    <li>@Html.ActionLink("Profile", "Details", "Users")</li>
                    }
                            if (c.Value.Equals("1")) { 

                    <li>@Html.ActionLink("Requests", "", "")</li>
                    <li>@Html.ActionLink("Restaurants", "", "")</li>
                    <li>@Html.ActionLink("Profile", "Details", "Users")</li>
                    }
                    }

                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Logout", "Auth")">Logout</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Register", "Auth")">Register</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
     
        <footer>
            <p>&copy; @DateTime.Now.Year - Sack Of Food</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
