@model PagedList.IPagedList<SOF301.Models.Restaurants>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Restaurants</h2>
@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{

    <div class="form-group">
        @Html.DropDownList("SearchBy", ViewBag.Filter as IEnumerable<SelectListItem>, new { @class = "form-control col-md-2" })
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control  col-md-2", @placeholder = "Enter your search" })

        <div class="container">
            <div class="form-group col-md-2">
                @*@Html.DropDownListFor(modelItem=> ViewBag.UserCityID as IEnumerable<SelectListItem>, new { @placeholder = "City", @class = "form-control" })*@
                @Html.DropDownList("CityID", ViewBag.UserCityID as IEnumerable<SelectListItem>, new { @placeholder = "City", @class = "form-control" })
            </div>

            <div class="form-group col-md-2">


                @Html.DropDownList("DistrictID", ViewBag.UserDistrictID as IEnumerable<SelectListItem>, new { @placeholder = "District", @class = "form-control" })
            </div>

        </div>
            <input type="submit" value="Search" class="btn btn-primary" />  

        </div>
            


}


<table class="table">
    <tr>

        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            District
        </th>
        <th>
            Starting Hour
        </th>
        <th>
            Finishing Hour
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if((bool)item.RestaurantStatu){ 
        <tr>

            <td>
                @Html.ActionLink(item.Name, "RestaurantPage", new { RestaurantID = item.RestaurantID })
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishingHour)
            </td>


        </tr>
        }
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))




<script>




    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#CityID").change(function () {
            $("#DistrictID").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDistrict")', // we are calling json method

                dataType: 'json',

                data: { id: $("#CityID").val() },
                // here we are get value of selected country and passing same value  as inputto json method GetStates.


                success: function (districts) {
                    // states contains the JSON formatted list
                    // of states passed from the controller

                    $.each(districts, function (i, district) {
                        $("#DistrictID").append('<option value="' + district.Value + '">' +
                             district.Text + '</option>');
                        // here we are adding option for States

                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });

    $(document).ready(function () {
        $("#SearchBy").val("0");
        $("#SearchString").show();
        $("#CityID").hide();
        $("#DistrictID").hide();
    
    });

    $("#SearchBy").change(function () {
        var type = this.value;
       
        if (type == "0") {
            $("#SearchString").show();
            $("#DistrictID").hide();
            $("#CityID").hide();

        }
        else if(type=="1"){
            $("#CityID").show();
            $("#DistrictID").hide();
            $("#SearchString").hide();

        }
        else {
            $("#CityID").show();
            $("#DistrictID").show();
            $("#SearchString").hide();
        }

        
    });



</script>