@model PagedList.IPagedList<SOF301.Models.Restaurants>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Restaurants</h2>
@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>

}


<table class="table">
    <tr>

        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            District
        </th>
        <th>
            Starting Hour
        </th>
        <th>
            Finishing Hour
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink(item.Name, "RestaurantPage", new { RestaurantID = item.RestaurantID })
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishingHour)
            </td>


        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))