@model IEnumerable<SOF301.Models.OrderItems>
@Styles.Render("/Content/css")

<div class="panel panel-info">
    <div class="panel-heading">Food Sack</div>
    <div class="panel-body">

        @{
            if (Model != null && Model.Any())
            {
                double count = 0;
                foreach (var item in Model)
                {


                    <ul class="list-group">

                        <li>@Html.DisplayFor(modelItem => item.Foods.Name)</li>


                    </ul>

                    
                    count += (double)item.Foods.Price;

                }
                

                @Html.Display("Total Cost");
                <p>Total Cost: @count</p>
                        @Html.ActionLink("Continue to Payment", "Payment")<br />

                        <a href="#" class="clearBasket">Clear Basket</a>
            }
            else
            {
                <p> No item on your basket</p>

            }

        }



    </div>
</div>

<div class="basket">


</div>
<style>
    ul {
        list-style-type: none;
    }
</style>


