@model IEnumerable<SOF301.Models.Orders>



<h2>My Orders</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Users.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Statu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Users.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @{ 
               
                
                
                if (item.PaymentType==true)
             {
                <p>  Cash  </p>
             }
                       if (item.PaymentType == false)
               {
                <p>  Credit  </p>
               }
              


}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @{ if(item.OrderStatus == 0){
                   <p> Ordered   </p>
               }

               if(item.OrderStatus == 1){
                <p> Order Accepted </p>
            }
               if(item.OrderStatus == 2){
                  <p>Order Canceled  </p>
            }
            }

        </td>
      
        <td>
         
            @Html.ActionLink("OrderItems", "Details", new { id=item.OrderID }) 
         
        </td>
    </tr>
}

</table>
