@model SOF301.Models.Orders

@{
    ViewBag.Title = "Payment";
}



@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        <h4>Orders</h4>
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.OrderID)*@


        @*<div class="form-group">
                @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })


                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                </div>
            </div>*@


        <div id="defaultAddress">
            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    <p class="">
                        <input type="text" id="def" value=@ViewBag.Address name="Address" readonly class="defaultAD form-control" />

                    </p>

                </div>


            </div>



        </div>
        <div class="form-group">

            <<div class="col-sm-offset-2 col-sm-10">

                <label>
                    <input type="checkbox" class="addressCheck" id="check">  Add New Address

                </label>

            </div>



        </div>



        <div id="addAdress">
            <div class="form-group">
              
                @*@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>
                    <input type="text" id="al" class="alternateAD">  New Address

                </label>
               
                @*@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "alternateAD form-control" } })*@
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="paymentType">
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <label>
                        Cash   @Html.RadioButtonFor(model => model.PaymentType, 1, new { @checked = "checked" })


                        Credit @Html.RadioButtonFor(model => model.PaymentType, 0)
                    </label>
                </div>






            </div>
        </div>
        <div class="creditInfo">
            <div class="form-group">
                <div class="form-group">
                    @Html.Label("Card Number", new { @class = "control-label col-md-2" })
                    @Html.TextBox("cardNumber")
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2"> Expire Time</label>
                    <select name='expireMM' id='expireMM'>

                        <option value=''>Month</option>
                        <option value='01'>January</option>
                        <option value='02'>February</option>
                        <option value='03'>March</option>
                        <option value='04'>April</option>
                        <option value='05'>May</option>
                        <option value='06'>June</option>
                        <option value='07'>July</option>
                        <option value='08'>August</option>
                        <option value='09'>September</option>
                        <option value='10'>October</option>
                        <option value='11'>November</option>
                        <option value='12'>December</option>
                    </select>
                    <select name='expireYY' id='expireYY'>
                        <option value=''>Year</option>
                        <option value='10'>2010</option>
                        <option value='11'>2011</option>
                        <option value='12'>2012</option>
                    </select>




                </div>
                <div class="form-group">
                    @Html.Label("CVC", new { @class = "control-label col-md-2" })
                    @Html.TextBox("cvc")





                </div>
            </div>

        </div>












        @*<div class="form-group">
                @Html.LabelFor(model => model.PaymentType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.PaymentType)
                        @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TotalPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@{
                    double price = ViewBag.TotalPrice;
                }*@


                <input type="number" value=@ViewBag.TotalPrice name="TotalPrice" readonly class="form-control" />

                @Html.ValidationMessageFor(model => model.TotalPrice, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
                    }


<div>
    @Html.ActionLink("Continue to fill your sack", "RestaurantPage");
</div>

<script>




    $(document).ready(function () {
    
        $("#check").change(function () {
            if ($(this).is(":checked")) {
                $("#def").attr("name", "temp");
                $("#al").attr("name", "Address");
                //$('.alternateAD').val("");
            }
            else {
                $("#def").attr("name", "Address");
                $("#al").attr("name", "temp");


              

            }
        });
    });

    $(document).ready(function () {
        $("#addAdress").hide();
        $(".creditInfo").hide();

    });
    $(".addressCheck").click(function () {
        if ($(this).is(":checked")) {
            $("#addAdress").show();
        } else {
            $("#addAdress").hide();
        }
    });

    $('input[name="PaymentType"]').change(function () {

        var ptype = $('input[name="PaymentType"]:checked').val();

        if (ptype == 1) {

            $(".creditInfo").hide();

        }
        else {

            $(".creditInfo").show();

        }

    });




</script>
