@model IEnumerable<SOF301.Models.Foods>
  @Styles.Render("/Content/RestaurantPage.css")

 

<h2>@ViewBag.Title</h2>
<div class="container">

    <div class="row">

        <div class="col-md-8">
            <table class="table" data-striped="true">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    

                </tr>

                @foreach (var item in Model)
            {
                if (item.FoodStatu != null && item.FoodStatu == true)
                {
                        <tr>

                            <td>
                          

                                
                                <div class="name">
                                    <div class="add" style="float:left;">
                                        <span class="glyphicon glyphicon-plus" style="margin-left:-30px;"></span>

                                        <span class="hidenID">@item.FoodID</span>

                                    </div>
                                    @Html.DisplayFor(modelItem => item.Name)
                                   
                                </div>
                                
                               
                                
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            

                        </tr>


                    }

                }



            </table>

        </div>
        <div class="col-md-2">
           
            <div id="partial">
              
            </div>
        

        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('.hidenID').hide() //**hide your span
        $.ajax({
            url: "/Customer/getBasket",
            datatype: "text",
            type: "GET",
            success: function (data) {
                $('#partial').html(data);
            },
            error: function () {
                $("#partial").html("ERROR");
            }
    });
    $(".add").click(function () {
        var id = $(this).closest('div').find('.hidenID').text();
        $('.hidenID').hide() //**hide your span
        $.ajax({
            url: "/Customer/ItemBasket/?FoodID=" + id,
            datatype: "text",
            type: "GET",
            success: function (data) {
                $('#partial').html(data);
            },
            error: function () {
                $("#partial").html("ERROR");
            }
      
            });
        });

    });



</script>

